label#thumbmail{
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbmail input{
    display: none;
}

/* css aplicado caso exista uma foto dentro do imput de arquivos*/
label#thumbmail.has-thumbmail{
    border: 0;
}

label#thumbmail.has-thumbmail img{
    display: none;
}
